##following code can be generated use MybatisCodeHelperPro plugin mybatis generator mingrate to template generate.
##copy group for different project.
#set($javamodelSrcFolder="${projectPath}/src/main/java")
#set($modelPackageName="com.nari.supervision.daily.outbound.model")
#set($mapperSrcFolder="${projectPath}/src/main/java")
#set($mapperPackageName="com.nari.supervision.daily.outbound.mapper")
#set($mapperXmlFolder="${projectPath}/src/main/resources")
#set($mapperXmlPackage="mybatis.supervision.daily.outbound")
#set($serviceSrcFolder="${projectPath}/src/main/java")
#set($servicePackageName="com.nari.supervision.daily.outbound.service")
#set($serviceImplSrcFolder="${projectPath}/src/main/java")
#set($serviceImplPackageName="com.nari.supervision.daily.outbound.service.impl")
#set($controllerSrcFolder="${projectPath}/src/main/java")
#set($controllerPackageName="com.nari.supervision.daily.outbound.controller")
#set($dtoSrcFolder="${projectPath}/src/main/java")
#set($dtoPackageName="com.nari.supervision.daily.outbound.dto")
#set($paramSrcFolder="${projectPath}/src/main/java")
#set($paramPackageName="com.nari.supervision.daily.outbound.param")
#set($transformSrcFolder="${projectPath}/src/main/java")
#set($transformPackageName="com.nari.supervision.daily.outbound.transform")
#set($viewSrcFolder="${projectPath}/src/main/java")
#set($viewPackageName="com.nari.supervision.daily.outbound.view")
#set($useLombok=true)
#set($useSwagger=true)
#set($useOpenApi=false)
#set($addSchemaName=true)
#set($mapperSuffix="Mapper")
#set($daoSuffix="Mapper")
