#* @vtlvariable name="paramPackageName" type="java.lang.String" *#
##引入宏定义
$!{define.vm}
$!{init.vm}
$!{mybatisCodehelper.vm}

##使用宏定义设置回调（保存位置与文件后缀）
###save("/entity", ".java")

#set($entitySavePath = $tool.append(${javamodelSrcFolder},"/",${paramPackageName.replace(".","/")}))

$!callback.setSavePath($entitySavePath)
$!callback.setFileName($tool.append($tableInfo.name,'Param', ".java"))
##使用宏定义设置包后缀
package ${paramPackageName};

##使用全局变量实现默认包导入
import java.io.Serializable;
import com.nari.core.web.BaseParam;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.extern.slf4j.Slf4j;

##使用宏定义实现类注释信息
#tableComment("查询条件类")
#if(${useLombok})
@Data
@Slf4j
#end
@EqualsAndHashCode(callSuper = true)
public class $!{tableInfo.name}Param extends BaseParam implements Serializable{
    private static final long serialVersionUID= $!tool.serial();
}
