#* @vtlvariable name="viewPackageName" type="java.lang.String" *#
##引入宏定义
$!{define.vm}
$!{init.vm}
$!{mybatisCodehelper.vm}

##使用宏定义设置回调（保存位置与文件后缀）
###save("/entity", ".java")

#set($entitySavePath = $tool.append(${javamodelSrcFolder},"/",${viewPackageName.replace(".","/")}))

$!callback.setSavePath($entitySavePath)
$!callback.setFileName($tool.append($tableInfo.name,'View', ".java"))
##使用宏定义设置包后缀
package ${viewPackageName};
##使用全局变量实现默认包导入
import java.io.Serializable;
import lombok.Data;

import lombok.extern.slf4j.Slf4j;
import java.util.Date;


##使用宏定义实现类注释信息
#tableComment("分页响应模板")
#if(${useLombok})
@Data
#end
@Slf4j
public class $!{tableInfo.name}View implements Serializable{
private static final long serialVersionUID= $!tool.serial();
#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})
/**
     * ${column.comment}
     */
#end
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
}
